.color_1 {
    // background-color: rgb(79, 79, 94);
    background-color: #333333;
    // background-color:#101415af;

}
form{
    margin-bottom: 50px;
    max-width: 400px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    input {
     width: 100%    ;
     height: 40px;
    }
    button {
width: 100px;
height: 40px;
    }

}
.buton{
    
    max-width: 620px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
  
      
}