:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

}

